<div style="background-color: white;margin: 30px;">
    <div [hidden]="vehicles.length !== 0">
        <p>There is no vehicles currently</p>
    </div>

    <div [hidden]="vehicles.length === 0">
        <div class="table-div">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Model</th>
                        <th scope="col">Year of production</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of vehicles">
                        <td>{{item.manufacturer}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.yearOfProduction}}</td>
                        <td>
                            <button class="btn btn-success" style="background-color: slategrey;" (click)="detailsClick(item)">Details</button>
                            <button 
                                class="btn btn-success" 
                                style="background-color: slategrey; margin-left: 20px;"
                                (click)="onFuelLogClick(item)"
                            >
                            Fuel logs
                            </button>     
                        </td>                            
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>
